.idea
.project
.settings
.DS_Store
.*.sw[po]
*.bak
*.BAK
*~
*.orig
*.class
.cvsignore
Thumbs.db
*.py[co]
_darcs/*
CVS/*
.svn/*
RCS/*
.gitfilters/
.sync/
.working/
build/
rtfm/
tmp/
*.sublime*
node_modules/
.vagrant/
share/
