<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Translation Center for Magento 2
 *
 * @author    Marek Zabrowarny <marek.zabrowarny@creativestyle.pl>
 * @copyright 2016 creativestyle
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="MageSuite_TranslationCenter::translations" title="Translation Center" sortOrder="70">
                        <resource id="MageSuite_TranslationCenter::translations_import" title="Import" sortOrder="10"/>
                        <resource id="MageSuite_TranslationCenter::translations_settings" title="Settings" sortOrder="900"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
