<?xml version="1.0"?>
<!--
/**
 * Translation Center for Magento 2
 *
 * @author    Marek Zabrowarny <marek.zabrowarny@creativestyle.pl>
 * @copyright 2016 creativestyle
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageSuite_TranslationCenter" setup_version="0.1.0">
        <sequence>
            <module name="Magento_Config"/>
        </sequence>
    </module>
</config>
