<?xml version="1.0"?>
<!--
/**
 * Translation Center for Magento 2
 *
 * @author    Marek Zabrowarny <marek.zabrowarny@creativestyle.pl>
 * @copyright 2016 - 2017 creativestyle
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Phrase\Renderer\Translate">
        <plugin name="creativestyle_translation_center_renderer_translate" type="MageSuite\TranslationCenter\Plugin\Phrase\Renderer\TranslatePlugin"/>
    </type>
    <type name="Magento\Translation\Model\Json\PreProcessor">
        <plugin name="creativestyle_translation_center_json_preprocessor" type="MageSuite\TranslationCenter\Plugin\Translation\Model\Json\PreProcessorPlugin"/>
    </type>
</config>
